
<li class="grid mb-12 md:grid-cols-3 md:gap-6 ">
  <header class="font-semibold uppercase text-sm tracking-wide mb-2 mt-1 md:text-right lg:mt-0 text-stone-300/70">
    <slot name="year"/>
  </header>
  <div class="col-span-2">
    <h3 class="mb-2 font-medium">
      <slot name="title"/>
    </h3>
    <slot />
  </div>
</li>